<section class="hero has-background-grey">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        投稿一覧
      </h1>
    </div>
  </div>
</section>
<section class="form-section">
  <div class="container">
    <div class="search-form">
      <%= search_form_for @q do |f| %>
        <div class="field">
          <%= f.label :item_cont %>
          <%= f.search_field :item_cont %>
          <%= f.submit "検索", class: "button is-success" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% if params[:q] %>
        <% if @posts.present? %>
          <%= render partial: 'posts/post', collection: @posts %>
        <% else %>
          <strong class="no-mach">該当するアイテムが見つかりませんでした</strong>
        <% end %>
      <% else %>
        <%= render partial: 'posts/post', collection: @posts %>
      <% end %>
    </div>
  </div>
</section>

<div class="row" id="paginate">
  <div class="col-md-2">
    <%= paginate @posts %>
  </div>
</div>